/*-----------
    Reset
------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-----------
    Main
------------*/
body{
    font-family: 'Varela Round', sans-serif; 
}
/*-----------
    Main
------------*/
#root{
    height: 100vh;
    display: flex;
}
.container{
    width: 1000px;
    min-height: 800px;
    background-color: rgb(0, 175, 175);
    margin: auto;
    border-radius: 20px;
}

.main-title{
    padding: 20px;
    color: #fff;
    text-align: center;
    font-size: 50px;
}

/*-----------
    Activity
------------*/
.activity-container ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.activity{
    padding: 20px 30px;
    border: 1px solid black;
    background-color: azure;
    width: 70%;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.activitydone{
    text-decoration: line-through;
}

.cancel-activity, .check-activity{
    font-size: 20px;
    cursor: pointer;
    transition: 1s;
}

.cancel-activity{
    margin-left: 5px;
}

.cancel-activity:hover, .check-activity:hover{
    transform: scale(1.2);

}

.cancel-activity:hover{
    color: rgb(216, 0, 0);
}

.check-activity:hover{
    color: rgb(121, 202, 0);
}

.checkactivitychecked{
    color: rgb(121, 202, 0);
}

/*-----------
Add Activity
------------*/
.add-activity form{
    display: flex;
    gap: 50px;
    padding: 20px;
}

.add-activity{
    display: flex;
    justify-content: center;
}

.input-new-act{
    padding: 10px 20px;
    border: 1px solid black;
    background-color: azure;
    width: 500px;
    border-radius: 20px;
}

.btn{
    padding: 5px 10px;
    font-family: 'Varela Round', sans-serif; 
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}

