<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- CCS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Vue JS -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>To do List</title>
</head>
    <body>
        <div id="root">
            <div class="container">
                <section class="title">
                    <h1 class="main-title">ToDo List</h1>
                </section>
                <section class="activities-container">
                    <div class="activity-container">
                        <ul>
                            <li :class="{activitydone: activity.isDone}" class="activity" v-for="(activity,index) in todolist"><span>{{ activity.text }}</span><div><span><i class="fa-solid fa-circle-check check-activity" @click="checkActivity(index)" :class="{checkactivitychecked : activity.isDone === true}"></i></span><span><i class="fa-solid fa-circle-xmark cancel-activity" @click="cancelActivity(index)"></i></span></div></li>
                        </ul>
                    </div>
                </section>
                <section class="add-activity">
                    <form @submit.prevent="addTask()">
                        <input class="input-new-act" type="text" name="" id="" placeholder="Aggiungi una nuova attività" v-model="newTodo.text" required minlength="3">
                        <button class="btn" type="submit">Aggiungi attività</button>
                    </form>
                </section>
            </div>
        </div>

        <!-- JS -->
        <script src="js/main.js"></script>
    </body>
</html>